[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pyfiglet = "*"
pygithub = "*"
keyring = "*"
requests = "*"
flask = "*"
pyinquirer = "*"
colorama = "*"
emoji = "*"
python-daemon = "*"

[requires]
python_version = "3.7"
